<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/index.css">
    
    <title>Document</title>
</head>

<body>
    <div class="heading">
        <h2>Abasyn University Peshawars</h2>
    </div>

    <div class="navbar">
        <ul>
            <li>
                <a href="#" class="links" onclick="home()" active=true>Home </a>
            </li>
            <li>
                <a href="#" class="links" onclick="service()">Service</a>
            </li>
            <li>
                <a href="#" class="links" onclick="about()">About</a>
            </li>
            <li>
                <a href="#" class="links" onclick="contact()">Contact</a>
            </li>
        </ul>
    </div>

    <div class="container">
        <div class="first">
            <div id="home">
                <h1>I'M HAZRAT </h1>
                <h2>I'm a web developer <br> and professional designer from KPK</h2>
                <p>
                    I'M A TITLE
                    I'm a subtitle
                    Click here to edit me
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double click me to add your own content and make changes to the font. Feel free to drag and drop me
                    anywhere you like on your page. I’m a great place for you to tell a story and let your users know a
                    little more about you.

                    ​

                    This is a great space to write a long text about your company and your services. You can use this
                    space to go into a little more detail about your company. Talk about your team and what services you
                    provide. Tell your visitors the story of how you came up with the idea for your business and what
                    makes you different from your competitors. Make your company stand out and show your visitors who
                    you are.</p>

                    <button><a href="#contact">Contact</a></button>

                ​

            </div>


            <div id="service">
                <h1>Services Page</h1>
                <h2>I'm a web developer <br> and professional designer from KPK</h2>
                <p>
                    I'M A TITLE
                    I'm a subtitle
                    Click here to edit me
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double click me to add your own content and make changes to the font. Feel free to drag and drop me
                    anywhere you like on your page. I’m a great place for you to tell a story and let your users know a
                    little more about you.

                    ​

                    This is a great space to write a long text about your company and your services. You can use this
                    space to go into a little more detail about your company. Talk about your team and what services you
                    provide. Tell your visitors the story of how you came up with the idea for your business and what
                    makes you different from your competitors. Make your company stand out and show your visitors who
                    you are.</p>

                    <button>Contact Me</button>

                
            </div>
            <div id="about" class="hidden">
                <h1>About Page</h1>
              
                <h2>I'm a web developer <br> and professional designer from KPK</h2>
                <p>
                    I'M A TITLE
                    I'm a subtitle
                    Click here to edit me
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double click me to add your own content and make changes to the font. Feel free to drag and drop me
                    anywhere you like on your page. I’m a great place for you to tell a story and let your users know a
                    little more about you.

                    ​

                    This is a great space to write a long text about your company and your services. You can use this
                    space to go into a little more detail about your company. Talk about your team and what services you
                    provide. Tell your visitors the story of how you came up with the idea for your business and what
                    makes you different from your competitors. Make your company stand out and show your visitors who
                    you are.</p>

                    <button>Contact Me</button>

                
            </div>
            <div id="contact" >
                <h1>Contact Us Page</h1>
            
                <h2>I'm a web developer <br> and professional designer from KPK</h2>
                <p>
                    I'M A TITLE
                    I'm a subtitle
                    Click here to edit me
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double click me to add your own content and make changes to the font. Feel free to drag and drop me
                    anywhere you like on your page. I’m a great place for you to tell a story and let your users know a
                    little more about you.

                    ​

                    This is a great space to write a long text about your company and your services. You can use this
                    space to go into a little more detail about your company. Talk about your team and what services you
                    provide. Tell your visitors the story of how you came up with the idea for your business and what
                    makes you different from your competitors. Make your company stand out and show your visitors who
                    you are.</p>

                    <button>Contact Me</button>

                
            </div>
        </div>


        <div class="second">
            <img src="../public/first.webp" alt="this is the image">
        </div>
    </div>



    <hr>
<script src="../public//index.js"></script>
</body>

</html>