body{
    margin: 0;
    padding: 0;
}
.heading{
    width: 100%;
    height: 200px;
    text-align: center;
    border: 1px solid black;
    background-color: cadetblue;
    
    
}
.heading h2{
    margin-top: 60px;
    font-size: 30px;
}
.navbar ul {
    display: flex;
    justify-content:center;
    margin-top:30px;
}
.navbar ul li{
    list-style-type: none;
   
    
}
.navbar ul li a{
    justify-content: space-evenly;
    padding-left: 50px;
    font-size: 20px;
    text-decoration: none;
    color:black;
    font-family: sans-serif;
  
}
.links:hover{
    color:rgb(43, 43, 150);
}

.container{
    display: flex;
    margin-top: 150px;
}
.first{
    width: 50%;
    text-align: center;
}

 /* home page coding  */
#home{
    text-align: left;
    line-height: 30px;
    padding: 50px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;

}
#home button{
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 14px;
}

/* service page coding is here  */
#service{
    text-align: left;
    line-height: 30px;
    padding: 50px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;

}
#service button{
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 14px;
}

 /* about us page coding is here  */
#about{
    text-align: left;
    line-height: 30px;
    padding: 50px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;

}
#about button{
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 14px;
}


 /* contact page coding is here  */
#contact{
    text-align: left;
    line-height: 30px;
    padding: 50px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;

}
#contact button{
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 14px;
}
#service,#about,#contact{
    display: none;
}



.second{
    width: 50%;
}